Debug
Release
_release/bin
_release/cfg/blitzide.ini
_release/cfg/imgui.ini
_release/cfg/imgui_debugger.ini
_release/temp
_release/userlibs
_release/Blitz3D.exe
_release/*.bb
_release/*.ttf
*.exe
*.dll
!packages/**/*.dll
!bass/bin/**/*.dll
!tools/dxc-x64/*.exe
!tools/dxc-x64/*.dll
!tools/dxc-x86/*.exe
!tools/dxc-x86/*.dll
!tools/spirv-cross/bin/*.dll
*.pdb
*.ilk
*.aps
*.bb_bak1
.vs
.idea
*/objs/*
*.zip
temp
_buildtmp
linker/cryptseed.h
llvm
blitzide_imgui/bin
